%% -*- erlang -*-
{erl_opts, [debug_info, {d, debug}]}.
{deps, [
		{mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp.git", {branch, "master"}}},
    	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
		{base, ".*", {git, "git@github.com:iloveai8/base.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.